:root {
  --piso-bosque: rgb(68, 99, 63);
  --piso-tierra: rgb(55, 45, 35);
  --sombras-arbol: rgb(46, 111, 64);
  --brillo-hojas: rgb(141, 181, 128);
  --madera-casa: rgb(80, 50, 35);
  --luz-dorada: rgb(255, 225, 86);
}

/* Ejemplo de uso en la cuadrícula */
.casilla-bosque {
  background-color: var(--piso-bosque);
}

.casilla-casa {
  background-color: var(--madera-casa);
  border: 2px solid var(--luz-dorada);
}
